{% extends 'accounts/home.html' %}
{% block content %}
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        {% if form %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{field.label}} : {{error}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="form-control">
            <label for="exampleInputPassword1">Old Password</label>
            <input type="password" name="old_password" class="form-control" id="exampleInputPassword1" placeholder="Old Password" required>

            <label for="exampleInputPassword2">New Password</label>
            <input type="password" name="new_password1" class="form-control" id="exampleInputPassword2" placeholder="New Password" required>

            <small id="passhelp" class="form-text text-muted">&nbsp&nbsp&nbsp <b>*</b> Password must be more than 8 characters<br>&nbsp&nbsp&nbsp <b>*</b> Passwrod must be different from Username.<br>&nbsp&nbsp&nbsp <b>*</b> Password must be strong.</small>
            <br>

            <label for="exampleInputPassword3">New Password Confirmation</label>
            <input type="password" name="new_password2" class="form-control" id="exampleInputPassword3" placeholder="Confirm New Password" required>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'home' %}"><button type="button" class="btn btn-success">Go to Home</button></a>
    </form>
{% endblock %}
