{% extends 'accounts/home.html' %}
{% block content %}
    <h1>Profile</h1> 
    <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="col">User Name</th>
            <td>{{user}}</td>
          </tr>
          <tr>
            <th scope="col">First Name </th>
            <td>{{user.first_name}}</td>
          </tr>
          <tr>
            <th scope="col">Last Name</th>
            <td>{{user.last_name}}</td>
          </tr>
          <tr>
            <th scope="col">Email</th>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <th scope="col">Phone Number</th>
            <td>{{user.phone_number}}</td>
          </tr>
        </tbody>
      </table>
{% endblock %}